.card {
    position: relative;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-thumbnail {
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1vh;
    border-radius: 10px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-details h1 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: capitalize;
}

.card-details button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1356d;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}